$heading : 'Merriweather', serif;
$head_ul : 'Montserrat', sans-serif;
$li : 'Lato', sans-serif;
$disable : 'Raleway', sans-serif;
$listcolor : #35c4d8;
$a_color : #41b7d8;
$content_head : 'Lora', serif;
$sub_title: 'Roboto Slab', serif;
$content : 'Droid Serif', serif;
$sub_content_family : 'Open Sans', sans-serif;
$sidebar : 'Raleway', sans-serif;


$dark_gray: #333;
$gray: #777;
$placeholder_gray: #a1a1a1;
$grey4: #bfbcbc;
